<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<div class="container">
    <div class="row">
        <div class="col-md-6">
            <form>
                <fieldset>
                    <legend class="text-center">Ajouter film </legend>

                    <div class="form-group">
                        <label for="Name"><span class="req">* </span> Nom Film:  </label>
                        <input required type="text" [(ngModel)]="film.nomFilm" name="nomFilm" id="nomFilm"
                            class="form-control phone" maxlength="28" placeholder="Nom film..." />
                    </div>

                    <div class="form-group">
                        <label for="firstname"><span class="req">* </span> Description: </label>
                        <input class="form-control" type="text" [(ngModel)]="film.description" name="Description" id="description" required
                            placeholder="Enter valid email address" />
                        <div id="errFirst"></div>
                    </div>

                    <div class="form-group">
                        <label for="lastname"><span class="req">* </span> Duree : </label>
                        <input class="form-control" type="number" [(ngModel)]="film.duree" name="duree" id="Duree"
                            placeholder="Total year of experience" required />
                        <div id="errLast"></div>
                    </div>

                    <div class="form-group">
                        <label for="email"><span class="req">* </span> Acteurs: </label>
                        <input class="form-control" required type="text" [(ngModel)]="film.acteurs" name="Acteurs"
                            id="acteurs" placeholder="Nom acteur" />
                        <div class="status" id="status"></div>
                    </div>
                    <div class="form-group">
                      <label for="email"><span class="req">* </span> Categorie Film: </label>
                      <input class="form-control" required type="text" [(ngModel)]="film.categorieFilm" name="CategorieFilm"
                          id="categorieFilm" placeholder="horreur/science-fiction/..." />
                      <div class="status" id="status"></div>
                  </div>
                    <div class="form-group">
                        <input class="btn btn-success" type="submit" name="submit_reg" value="Ajouter" (click)="addFilm()">
                    </div>
                </fieldset>
            </form><!-- ends register form -->
            <!-- second for to fiter user-->
        </div><!-- ends col-6 -->

    </div>
</div>


