<div class="card film-item" [routerLink]="'/reclamation/ReclamationHome/detail/'+reclamation.id">
    <img [src]="photoURL" class="w-100" alt="">

    <div class="film-title">
        <p style="text-align: center;">

            <strong>idReclamation :</strong> {{reclamation.id}}<br>
                <strong> Validité :</strong> {{reclamation.valide}}<br>
                        <strong>description :</strong> {{reclamation.description}}<br>
                            <strong>Date :</strong> {{reclamation.date_de_creation }}<br>
                               
        </p>

    </div>

</div>